ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    padding: 10px;
}

li {
    cursor: pointer;
    padding: 10px 0;
}

li:nth-child(2n+1) {
    background-color: green;
}

li:nth-child(2n) {
    background-color: red;
}