* {
  padding: 0;
  margin: 0;
}

html, body, #root, .App {
  height: 100%;
  
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');


body {
  overflow-y:auto;
  font-family: 'Roboto', sans-serif;
}


.main {
  display: flex;
  height: 88%;
}

.right {
  float:right;
  width:200px;
  height:100%;
  background:red;
}

.left{
  overflow: hidden;
  background:green;
  height:50%;
}